<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; default-src 'self'; script-src 'self' 'unsafe-hashes'" />
    <link type="text/css" rel="stylesheet" href="/static/icons/icons.css">
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.slim.min.js}"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript" th:src="@{/js/body.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/kanban.js}"></script>

    <title>kanban</title>
    <meta content="script-src 'none'; default-src 'self';">
    <link href="../static/css/kanban.css" th:href="@{/css/kanban.css}" rel="stylesheet" />
</head>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:replace="layouts/body.html :: main-layout (content = ~{::content})">
    <div th:fragment="content" class="myClass">
        <!-- Edit Task Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content backmodal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Изменить задачу</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="mb-3">
                                <label for="editTitle" class="form-label">Название:</label>
                                <input type="text" id="editTitle" name="editTitle" class="form-control" placeholder="Название">
                            </div>
                            <div class="mb-3">
                                <label for="editDescription" class="form-label">Описание:</label>
                                <textarea id="editDescription" name="editDescription" class="form-control" placeholder="Описание"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Закрыть</button>
                        <button type="submit" id="saveButton" class="btn btn-outline-success">Изменить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Task Modal -->
        <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content backmodal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTaskModalLabel">Добавить задачу</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div class="mb-3">
                                <label for="titleInput" class="form-label">Название:</label>
                                <input type="text" id="titleInput" name="titleInput" class="form-control" placeholder="Название">
                            </div>
                            <div class="mb-3">
                                <label for="descriptionInput" class="form-label">Описание:</label>
                                <textarea id="descriptionInput" name="descriptionInput" class="form-control" placeholder="Описание"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Закрыть</button>
                        <button type="submit" id="submitButton" class="btn btn-outline-success">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Переключатель методологий -->
        <div class="btn-group centr" style="width: 100%" role="group" aria-label="Methodology Selector">
            <button type="button" id="kanbanBtn" class="btn btn-outline-primary">Kanban</button>
            <button type="button" id="kanoBtn" class="btn btn-outline-secondary">Kano</button>
            <button type="button" id="moscowBtn" class="btn btn-outline-success">MoSCoW</button>
        </div>

        <!-- Контейнер для отрисовки доски -->
        <div class="error-container"></div>
        <div class="container" id="boardContainer" th:name="${kanbanId}"></div>
    </div>
</body>
</html>

