<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/static/icons/icons.css">
  <script type="text/javascript" th:src="@{/js/jquery-3.7.1.slim.min.js}"></script>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" th:src="@{/js/body.js}"></script>
  <script type="text/javascript" th:src="@{/js/menu.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <title>Контакты</title>
  <meta content="script-src 'self'; default-src 'self';">
</head>
<body th:replace="layouts/body.html :: main-layout (content = ~{::content})">
<div th:fragment="content" class="about-us-page">
  <div class="container">
    <h1>Контакты</h1>

    <h2>Связаться с нами</h2>
    <section class="contact-us-email">
      <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами по электронной почте:</p>
      <ul class="ul">
        <li class="li"><pre>Техническая поддержка:     <a href="mailto:flexikanban@gmail.com">flexikanban@gmail.com</a></pre></li>
        <li class="li"><pre>Общая почта организации:   <a href="mailto:anyflexsolutions@gmail.com">anyflexsolutions@gmail.com</a></pre></li>
        <li class="li"><pre>Почта владельца сайта:     <a href="mailto:dimakurenkov333@gmail.com">dimakurenkov333@gmail.com</a></pre></li>
      </ul>
    </section>

    <section class="contact-us-telegram">
      <p style="padding-top: 3px">Мы в телеграме:</p>
      <ul class="ul">
        <li class="li"><pre>Группа:                    <a href="https://t.me/+tjxnT0XSr6owN2Ri">FlexiKanbanGroup</a></pre></li>
        <li class="li"><pre>Канал:                     <a href="https://t.me/+YkOjBYjTXigwZWVi">FlexiKanban</a></pre></li>
      </ul>
    </section>
  </div>
</div>
</body>
</html>
