<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
  <script type="text/javascript" th:src="@{/js/jquery-3.7.1.slim.min.js}"></script>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" th:src="@{/js/body.js}"></script>
  <script type="text/javascript" th:src="@{/js/registration.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <title>Регистрация</title>
  <meta http-equiv="Content-Security-Policy" content="script-src 'none'; default-src 'self';">
  <link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet" />
</head>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:replace="layouts/body.html :: main-layout (content = ~{::content})">
<div th:fragment="content" class="myClass">
  <div class="container">
    <h2 class="h2form">Регистрация</h2>
    <div id="error-message" class="alert alert-danger" style="display:none; visibility: hidden"></div>
    <form id="registrationForm">
      <div class="form-group">
        <label for="name">Почта</label>
        <input type="text" name="name" id="name" placeholder="Имя" required/>
      </div>
      <div class="form-group">
        <label for="email">Почта</label>
        <input type="email" name="email" id="email" placeholder="Почта" required/>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <div class="password-group">
          <input type="password" name="password" id="password" placeholder="Пароль" required/>
          <button class="unmask" type="button"></button>
        </div>
      </div>
      <div class="form-group">
        <label for="conf-password">Подтверждение пароля</label>
        <div class="password-group">
          <input type="password" name="conf-password" id="conf-password" placeholder="Введите пароль повторно" required/>
          <button class="unmask" type="button"></button>
        </div>
      </div>

      <button type="submit" class="button-1">Зарегистрироваться</button>
    </form>
  </div>
</div>
</body>
</html>

